*.log
npm-debug.log*

.babelrc
rollup.config.js
.whitesource
node-rm.js

coverage
.nyc_output

node_modules

package-lock.json
yarn.lock

src/
tests/
examples/
dist/
lib/
helpers/
util/
public/
testr/

CHANGELOG.md
.cache
.travis.yml
.editorconfig
.eslintignore
.eslintrc
.babelrc
.gitignore
.vscode
