* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  color: #000000;
  font-family: Consolas, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 20px 80px 50px;
  min-height: 110vh;
  overflow-y: visible;
}

#root {
  background-color: #fff;
  color: #000000;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25) !important;
}

.jsv {
  font-size: 13px;
  font-family: consolas;
}

button,h1,
h3,
a {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  color: #2d3748;
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.mb-0 {margin-bottom: 0;}
.m-10>* {margin:10px;}

select,
input,
button {
  padding: 10px 15px;
}

input,
select {
  margin-top: 10px;
}

button {
  background-color: #2d3748;
color: #fff;
  cursor: pointer;
  outline:none;
}

button:hover {background-color:#202733;}

.d-flex {
  display: flex;
}

.d-flex.flex-grow>* {
  flex: 1 1 33%;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

pre {
  background-color: #2d3748;
color: #ffffff;
padding: 10px;
border-radius: 7px;
text-align: center;
font-size: 16px;
max-width: 420px;
margin: 10px auto 20px;
}


.flipInX {
  -webkit-backface-visibility: visible !important;  
  backface-visibility: visible !important;
  animation: flipInX 2s;
  -webkit-animation: flipInX 2s;
}


@-webkit-keyframes flipInX {
  0% { -webkit-transform: perspective(400px) rotateX(90deg); opacity: 0; }
  40% { -webkit-transform: perspective(400px) rotateX(-10deg); }
  70% { -webkit-transform: perspective(400px) rotateX(10deg); }
  100% { -webkit-transform: perspective(400px) rotateX(0deg); opacity: 1; }
}

@keyframes flipInX {
  0% { transform: perspective(400px) rotateX(90deg);  opacity: 0; }
  40% { transform: perspective(400px) rotateX(-10deg); }
  70% { transform: perspective(400px) rotateX(10deg); }
  100% { transform: perspective(400px) rotateX(0deg); opacity: 1; }
}