* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: consolas;
}

.jsv ul {
  list-style: none;
  padding: 0 0 0 30px;
  margin-left: 5px;
  border-left: 1px dotted #888888;
}

.jsv li {
  list-style: none;
}

.jsv {
  margin: 0;
  padding: 0;
  border: 0;
}

.fold {
  cursor: pointer;
}

.open:before,
.close::after {
  font-family: arial;
  width: 1em;
  cursor: pointer;
}

.open:before {
  content: "\2BC6";
  display: inline-block;
}

.close:before {
  content: "\2BC8";
}

.close::after {
  content: "\2194";
  margin-left: 2px;
}

.len,.type {margin-left: 5px;}

.type,
.len,
.open:before,
.close::after,
.close:before {
  color: #888888;
}