* {
  box-sizing: border-box;
}

.jsv {
  font-family: consolas;
  border: 0;
  box-sizing: border-box;
}

.jsv-fold {
  cursor: pointer;
}

.jsv-fold:before {
  color: #888888;
  content: "\2BC6";
  /* position: absolute; */
  display: inline-block;
  width: 1em;
  /*left: 0px; */
}

.jsv-fold-close:before {
  content: "\2BC8";
}

.jsv-fold-end {margin-left: 2px;}

.jsv ul {
  list-style: none;
  padding: 0 0 0 30px;
  margin-left: 5px;
  border-left: 1px dotted rgb(78, 125, 255);
}

.jsv li {list-style: none;}

.jsv-items-len {margin: 0 5px; color: #888888; }

.txt-string {
  color: #690;
  word-break: break-word;
}

.txt-number,
.txt-float {
  color: #905;
}

.txt-null,.txt-undefined {
  color: rgb(255, 41, 41);
}

.txt-boolean {color:#3629ff;}

.txt-span-vtype {
  color: #888888;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.jsv .border-left {
  border-left: 1px dotted #888888 !important;
}